
h1, h2, h3, h4 {
    font-size: 24px;
    -webkit-text-stroke: 1px black;
}

.gioithieu {
    background-color: #F3FDE8;
    padding: 15px;
}

.lienhe {
    background-image: url("image/image9.jpg");
    background-repeat: repeat;
    text-align: center;
    padding: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

nav {
    background-color: #d4f2f4;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #0b0848;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #d4f2f4;
    text-align: center;
    padding: 10px;
}

footer p {
    color: #0b0848;
}

